		* {
			box-sizing: border-box;
		}
		html { width: 100%;

		}
		body { background-color: #FFD3B6;
		color: #694174;

			width: 100%;
			margin: 0;
			padding: 0;
		}
		
		header{ background-color: #FFEEB5;
		height: 80px;
		display: flex; 
		align-items: center;
		text-align: center;
		width: 100vw;
		}
		.container {
			/* width: 365px; */
			margin-left: auto;
			margin-right: auto;
		}
		header h1 {
		height: 50%;
		margin-left: auto;
		margin-right: auto;
		}
		article{ text-align: center;
			margin-left: auto;
			margin-right: auto;

		}
		
		ul{ list-style-image: url('corgi.png');
		 list-style-position: inside;}
		 
		footer { background-color: #FFEEB5;
		height: 40px;
		text-align: center;
		text-decoration: none;
		width: 100vw;
			 }
		p {font-style: oblique; }
		footer a { font-family: "Times New Roman", Times, serif; text-decoration-line: underline;
			text-decoration-style: wavy;}
		
		#ranking{ text-align: center;
		}
		#ranking img { width: 50%; height: 40%;}